<style>
  .passed {background-color: #2ECC9A;}
  .failed   {background-color: #DF182A;}
</style>

<% services_status = service_status(params[:service]) %>

<h1>
  <span class="<%= services_status['status'] == 'Passed' ? 'passed' : 'failed' %>">
  <%= services_status['name'] %>
  </span>
</h1>
<% if !services_status['dependencies'].empty? %>
<dl>
  <h3 align="center">Dependent Services Status:</h3>
<% services_status['dependencies'].each do |k| %>
    <dt>
      <a href="<%= k['url'] %>">
        <h1 class="<%= k['status'] == 'Passed' ? 'passed' : 'failed' %>">
          <%= k['name'] %> : <%= k['status'] %>
        </h1>
      </a>
    </dt>

<% end %>
</dl>
<% else %>
  <h3 align="center">No dependencies.</h3>
<% end %>